<mat-toolbar>
	<h1>Play</h1>
</mat-toolbar>

<section class="page">
	<ng-container *ngIf="questions$ | async as questions">
		<form
			[formGroup]="formGroup"
			*ngIf="formGroup"
		>
			<mat-stepper
				formArrayName="questions"
				labelPosition="bottom"
				linear
				[orientation]="(stepperOrientation$ | async)!"
			>
				>
				<mat-step
					*ngFor="let question of questions, let i = index; let first = first; let last = last;"
					[formGroupName]="i"
					[stepControl]="questionFormArray | formControlAt:i"
					#step
					state="question"
				>
					<ng-template matStepLabel>Question {{ i+1 }}</ng-template>
					<small>Category: {{ question.category }} • Difficulty: {{
						question.difficulty | titlecase }}</small>
					<p [innerHTML]="question.question | safe:'html'"></p>
					<mat-radio-group [formControl]="questionFormArray | formControlAt:i">
						<mat-radio-button
							class="answer my-4"
							*ngFor="let answer of questions[i] | fullAnswerList"
							[value]="answer | safe:'html'"
						>
							<span [innerHTML]="answer | safe:'html'"></span>
						</mat-radio-button>
					</mat-radio-group>
					<div
						class="feedback-container my-4 p-2 border-2 border-dotted"
						[class.border-green-500]="correctFeedbackList[i]"
						[class.border-red-500]="!correctFeedbackList[i]"
						[style.visibility]="(questionFormArray | formControlAt:i).value ? 'visible' : 'hidden'"
					>
						{{ correctFeedbackList[i] ? '✔ Correct' : '❌ Wrong' }} answer.
					</div>
					<div>
						<button
							class="previous-button"
							mat-stroked-button
							matStepperPrevious
							type="button"
							*ngIf="!first"
						>Back</button>
						<button
							class="next-button"
							[disabled]="(questionFormArray | formControlAt:i).invalid"
							mat-raised-button
							matStepperNext
							color="primary"
							type="button"
						>Next</button>
					</div>
				</mat-step>
				<mat-step
					state="star"
					[editable]="false"
				>
					<ng-template matStepLabel>
						Answers: {{ answerCount }} / {{ questionCount }}
						<br>
						Score: {{ score }}
					</ng-template>
					<div class="text-center">
						<p class="text-4xl">Game Over</p>
						<p class="text-2xl">
							Final Score
							<br>
							<span
								class="text-8xl font-bold dark:text-green-400 text-green-700"
							>
								{{ score }}
							</span>
						</p>
					</div>
				</mat-step>

				<ng-template matStepperIcon="question">
					<mat-icon>question_answer</mat-icon>
				</ng-template>
				<ng-template matStepperIcon="star">
					<mat-icon>star_rate</mat-icon>
				</ng-template>
			</mat-stepper>
		</form>
	</ng-container>
</section>
